/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%);
}
